/* @media only screen and (max-width: 600px) { */

    .food-info {
        transform: translateY(-40%);
        padding: 0;
    }

.food-name {
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: capitalize;
}


.back-button {
    background-color: rgb(253, 225, 11);
    padding-bottom: 5%;
    transform: translateY(-20%);
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.5em;
    padding: 1em;
    width: 200px;
    height: 10px;  
    padding-bottom: 1em;
    border-radius: 6px;
}

.back-button h2 {
    font-size: .8em;
    transform: translateY(-100%);
}
/* } */

.spec-foods {
    height: 100vh;
    width: 100vw;
    padding: 0;
    position: absolute;
}

/* .table-container {
    height: 100%;
    display: block;
} */




.icon-container {
    text-align: center;
}

.icon {
    color: rgb(250, 229, 77);

    font-size: 1.8rem;
    padding: 2%;
    border-radius: 50%;

    transform: translateY(50%);
}



h2, h3 {
    color: white;
    text-align: center;
}

h3 {

    font-size: 1.3rem;

}

.amounts {
    text-align: right;
}



#arrow-icon {
    font-size: 1em;

    transform: translateY(15%);
    background: white;
    margin-right: 5%;

}



.nutrition-info {
    transform: translateY(-100%);
}

.nutrition-info h3 {
    font-size: .9em;
}

@media only screen and (min-width: 992px) {
    .icon {
        color: rgb(250, 229, 77);
    
        font-size: 3rem;

        border-radius: 50%;
    
        transform: translateY(50%);
    }

}