
table th {
    text-align: center;
    padding-left: 2%;
    padding-top: 6%;
    width: 50%;
}


td {
    font-size: 1.1rem;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
   
}

tr {
    width: 100%;

}
  
td:first-child {
    padding-left: 3%;
    padding-right: 0;
}

table {
    height: 50vh;
    padding: 5%;
    border: 0;
    height: 100%;
    border-radius: 30px 30px 0 0;
    background: white;
    
}

table a {

    height:100%;
    width:100%;
    text-decoration: none;
    color: black;

}



/* @media only screen and (min-width: 601px) {

    table th {
      
      
        padding-top: 6%;
        width: 50%;

    }
    
    
    td {
        font-size: 1.1rem;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-right: 4%;

       
    }
    
    tr {
        width: 100%;

    
    }
      
    td:first-child {
        padding-left: 3%;
        padding-right: 0;
    }
    
    table {
        height: 50vh;
        padding: 5%;
        border: 0;
        width: 50%;
        border-radius: 30px 30px 0 0;
        background: white;

        
    }
    
    table a {
    
        height:100%;
        width:100%;
        text-decoration: none;
        color: black;
    
    }

    .table {
        width: 100%;
        background-image: linear-gradient(to right, #ac1f1f, #ec7676);
    }

    .table table {
        margin: 0 auto;
        width: 50%;
    }
    }
     */